html{
    background-color:#2b889a;
}

a{
    color:#2b889a;
    text-decoration: none;
    font-family:"Arial Black";
}
ul {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    background-color:rgb(4,93,109);
    padding: 0 3% 0 3%;

}

li{
    float: left;
}

li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color:rgb(109,186,202);
}

p{
    font-size:20px;
}

h2{
    font-size:30px;
}

.navbar{

    width: 100vw;
    background-color:white;
    position:fixed;
}

.startPosition{
    top: 50%;
    background-color:rgb(4,93,109);
}

#startDiv{
    background-color:rgb(4,93,109);
    margin-top:90%;


}